<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <script src="AngularJS/angular.min.js"></script>
    <script src="AngularJS/angular-resource.js"></script>
    <script src="AngularJS/angular-route.js"></script>


    <script src="js/app.js"></script>
    <script type="text/javascript" src='js/RegisterController.js'></script>
    <script type="text/javascript" src='js/AboutController.js'></script>
    <script type="text/javascript" src='js/PeopleController.js'></script>
    <script type="text/javascript" src='js/SendMessageController.js'></script>
    <script type="text/javascript" src='js/SurveysController.js'></script>
    <script type="text/javascript" src='js/AccountController.js'></script>
    <script type="text/javascript" src='js/UserController.js'></script>
    <script type="text/javascript" src='js/AnalysysController.js'></script>
    <script type="text/javascript" src='js/CreateSurveyController.js'></script>
    <script type="text/javascript" src='js/services/SurveyService.js'></script>
    <script type="text/javascript" src='js/NavbarController.js'></script>
    <script type="text/javascript" src='AngularJS/ngStorage/ngStorage.js'></script>

    <script src="js/ui-bootstrap-tpls-2.1.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--<link rel="stylesheet" href="https://bootswatch.com//bootstrap.min.css"/>-->

    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="views/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=" Dominika Sporzyńska ">

    <title>Start Survey </title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" 22>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/"ng-hide="currentPath === '/'">Start Survey</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="page-scroll" href="#homeDiv" ng-hide="currentPath === '/'">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio" ng-hide="currentPath === '/'">Survey</a>
                </li>
                <li>
                    <a class="page-scroll" href="#aboutDiv" ng-hide="currentPath === '/'">About</a>
                </li>

                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li ng-if="email" id="accountDiv"><a href="index.html#/user/account"><span class="glyphicon glyphicon-user  fa fa-shield"></span>
                    {{email}}</a></li>

                <!--<li ng-if="email"><a href="views/user-account.html"><span class="glyphicon glyphicon-user  fa fa-shield"></span>-->
                    <!--{{email}}</a></li>-->
                <!--<li ng-if="email"><a href="#account"><span class="glyphicon glyphicon-user  fa fa-shield"></span>-->
                    <!--{{email}}</a></li>-->

                <li ng-if="email" ng-click="removeUserFromLocalStorage()"><a href="/logout" class="portfolio-link"
                                                                             data-toggle="modal"> logout</a></li>
                <li ng-if="!email"><a href="#signUp" class="portfolio-link" data-toggle="modal"><span
                        class="glyphicon glyphicon-user fa fa-shield"></span> Sign Up</a></li>
                <li ng-if="!email"><a href="/login"><span class="glyphicon glyphicon-log-in fa fa-shield"></span> Login</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div ng-view></div>



<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Dominika Sporzyńska 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->


<!--Logowanie-->
<div class="portfolio-modal modal fade" id="signUp" tabindex="-1" role="dialog" aria-hidden="true">


    <div ng-controller="RegisterController">


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div>
                            <div class="modal-body">
                                <!-- Project Details Go Here -->


                                <div class="bgform">
                                    <form>
                                        <div class="form-group">
                                            <h2>Sign Up</h2>
                                            <p> It’s free and always will be.</p>
                                            <hr class="colorgraph">
                                            <br/>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <input type="text" class="form-control" id="firstNameOfUser"
                                                           placeholder="First name" ng-model="firstNameOfUser"/>

                                                </div>
                                                <div class="col-md-6">

                                                    <input type="text" name="lastname" class="form-control"
                                                           id="lastNameOfUser"
                                                           placeholder="Last name"
                                                           ng-model="lastNameOfUser" required/>


                                                </div>
                                            </div>
                                            <br/>
                                            <div class="input-group">


                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input type="text" class="form-control" id="emailOfUser"
                                                       placeholder="Email"
                                                       ng-model="emailOfUser"/>


                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input type="password" class="form-control" id="passwordOfUser"
                                                       placeholder="Password"
                                                       ng-model="passwordOfUser"/>
                                            </div>
                                            <br/>


                                            <div>
                                                <input type="password" class="form-control" id="repassword"
                                                       placeholder="Re-enter password"/>
                                            </div>
                                            <!--<br/>-->
                                        </div>
                                        <div class="form-group">

                                            <div>
                                                <button type="submit" value="Submit"
                                                        class="btn btn-success glyphicon glyphicon-user col-sm-6"
                                                        ng-click="saveUser()">
                                                    Create
                                                </button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                                        class="fa fa-times"></i> Close Project
                                                </button>
                                            </div>

                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of
                                them for free, courtesy of <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>,
                                or you can purchase the 1500 icon set <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="js/agency.min.js"></script>

</body>

</html>



