<div class="account">
    <div class="container">
        <!--<div class="container">-->
        <!--<h2>Badges</h2>-->
        <!--<a href="#">News <span class="badge">5</span></a><br>-->
        <!--<a href="#">Comments <span class="badge">10</span></a><br>-->
        <!--<a href="#">Updates <span class="badge">2</span></a>-->
        <!--</div>-->
        <br/>
        <br/>
        <br/>

        <h1>Account</h1>
        <h3>{{message}} {{myemail}} </h3>
        <!--<h3>{{zalogowany}}</h3>-->


        <div class="row">
            <div class="col-md-8">
                <br/>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>firstName</th>
                        <th>lastName</th>
                        <th>email</th>
                        <th>password</th>
                        <th>Edit</th>

                    </tr>
                    </thead>
                    <!--mamy petle for each-->
                    <!--&lt;!&ndash;p.id&ndash;&gt; bo w postmanie w json gostek ma pole o nazwie id i tak samo dla imienie i nazwiska-->

                    <!--class="w3-btn w3-ripple"-->
                    <tbody>
                    <tr ng-repeat="u in user |orderBy:'firstname'">

                        <td>{{ u.id }}</td>
                        <td>{{ u.firstName }}</td>
                        <td>{{ u.lastName }}</td>
                        <th>{{ u.email }}</th>
                        <th>{{ u.password }}</th>

                        <th>
                            <button class="btn btn-info" ng-click="editUser(u)">&#9998; Show filled questionnaires
                            </button>
                        </th>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">


        </div>

    </div>
</div>