<div class="createSurvey">
    <div class="container ">
        <div class="row ">
            <div class="col-md-2">

            </div>
            <div class="bgform">
                <div class="col-md-9">
                    <div>
                        <br/>
                        <br/>
                        <br/>

                        <div class="bgform">
                            <form>
                                <div class="form-group">
                                    <h2>Create survey</h2>
                                    <p></p>
                                    <hr class="colorgraph">
                                    <br/>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <label>Title:</label>
                                            <input type="text" class="form-control"
                                                   id="titleOfSurvey"
                                                   placeholder="Title" ng-model="titleOfSurvey"/>
                                            <br/>

                                            <label>Quantity questions:</label>
                                            <div class="col-sm-4">
                                                <input type="number" min="1" class="form-control"
                                                       id="quantityQuestion"
                                                       placeholder="1" ng-model="quantityQuestion"/>
                                            </div>


                                            <button type="button" ng-click="setNumber()"> show questions</button>


                                            <div ng-show="showMe">
                                                <div ng-repeat="(num, i) in getNumber(quantityQuestion) track by $index">
                                                    <div class="alert alert-success">
                                                        <strong></strong>  <br/>
                                                        <label>Question {{num}}:</label><input type="text"
                                                                                               class="form-control"
                                                                                               id="question{{num}}"
                                                                                               placeholder=" {{num}}.Question"
                                                                                               ng-model="questionOfSurvey"/>

                                                        <br/>


                                                        <label>Quantity answer:</label>
                                                        <input type="number" min="1" class="form-control"
                                                               id="quantityAnswer"
                                                               placeholder="1" ng-model="quantityAnswer"/>

                                                        <button type="button" id="button{{num}}" ng-click="setNumber()">
                                                            show answer
                                                        </button>

                                                        <div class="well">
                                                            <div ng-show="showMe">
                                                                <div ng-repeat="(numAns, j) in getNumber(quantityAnswer) track by $index">

                                                                    <div class="alert alert-success">
                                                                        <strong></strong>

                                                                        <br/>
                                                                        <label>Answer:</label><input type="text"
                                                                                                     class="form-control"
                                                                                                     id="answer{{num}}{{numAns}}"
                                                                                                     placeholder="{{numAns}}Answer"
                                                                                                     ng-model="answerOfSurvey"/>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="well">

                                            </div>
                                        </div>

                                    </div>
                                    <br/>


                                </div>
                               <button type="button" id ="addSurvey"  ng-click="saveSurvey()">Add survey</button>

                            </form>
                        </div>
                        <br/>

                    </div>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>

    </div>
</div>