<section id="sendMassage" class="sendMassage">


    <!--<div class="container-fluid">-->


    <div class="bgform">
        <div class="row ">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <!--<br id="contact" class="container-fluid bg-grey">-->
                <h2 class="text-center">Contact</h2>


                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Rzeszów, Poland</p>
                <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
                <p><span class="glyphicon glyphicon-envelope"></span> dominika.sporzynska@gmail.com</p>

                </br>
                <form>
                    <div class=" slideanim">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="nameOfMessage" name="name" placeholder="Name"
                                       type="text"
                                       ng-model="nameOfMessage">
                            </div>
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="emailOfMessage" name="email" placeholder="Email"
                                       type="email"
                                       ng-model="emailOfMessage">
                            </div>
                        </div>
                        <textarea class="form-control" id="messageOfMessage" name="comments" placeholder="Comment"
                                  rows="5" ng-model="messageOfMessage"></textarea><br>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button type="submit" value="Submit"
                                        class="btn btn-success glyphicon glyphicon-user col-sm-12"
                                        ng-click="sendMessage()">
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>


</section>








