<!--<div class="container-fluid">-->


<!--<div class="container">-->

<!--<br/>-->
<!--<div class="col-sm-6 col-md-4"-->
<!--ng-repeat="s in survey">-->
<!--<div class="thumbnail">-->
<!--&lt;!&ndash;<img ng-src="views/image/ankieta.png" alt="Image">&ndash;&gt;-->
<!--<div class="caption">-->
<!--<h3>{{s.title}}</h3>-->

<!--</div>-->
<!--<div class="product-buttons">-->
<!--&lt;!&ndash;<a ng-href="index.html#/phone/detail/{{s.id}}" class="btn btn-info"&ndash;&gt;-->
<!--&lt;!&ndash;role="button" ng-click="showDetail($event)" data-id="{{s.id}}">Szczegóły</a>&ndash;&gt;-->
<!--<a target="_blank" ng-href="index.html#/questions/{{s.id}}" class="btn btn-warning" role="button"-->
<!--ng-click="FiilInQuestionnaire(s)">Fill in the questionnaire</a>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->


<!--</div>-->


