<!--<header ng-controller="NavbarController">-->
<!--<div class="container" ng-hide="currentPath === '/'"  >-->
<!--<div class="intro-text" >-->
<!--<div class="intro-lead-in"></div>-->
<!--<div class="intro-heading"></div>-->
<!--</div>-->
<!--</div>-->
<!--</header>-->
<section class="bg-darkest-gray">
</section>

<section id="account" class="bg-light-gray" ng-if="!email">

    <h1> {{isLogin}}</h1>
    <div>

        <ul class="nav nav-tabs navbar navbar-inverse">

            <li ><a data-toggle="tab" href="/user/account#createSurvey">New Survey</a></li>
            <li ><a data-toggle="tab" href="/user/account#deleteSurvey">Delete Survey</a></li>
            <li><a data-toggle="tab" href="/user/account#messageToMe">Message</a></li>
            <li class="active"><a data-toggle="tab" href="/user/account#users">Users</a></li>
            <li><a data-toggle="tab" href="/user/account#myAccount">Account</a></li>
            <li><a data-toggle="tab" href="/user/account#analysis">Analysis&
                Visualisation</a></li>
        </ul>
        <div>
            <div class="tab-content">
                <div id="users" class="tab-pane fade in active">
                    <div class="account" ng-controller="AccountController">
                        <div class="container">
                            <br/>
                            <br/>
                            <br/>

                            <h3>Users id DataBase</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <br/>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>firstName</th>
                                            <th>lastName</th>
                                            <th>email</th>
                                            <!--<th>password</th>-->
                                            <th>Edit</th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="u in user |orderBy:'firstname'">

                                            <td>{{ u.id }}</td>
                                            <td>{{ u.firstName }}</td>
                                            <td>{{ u.lastName }}</td>
                                            <th>{{ u.email }}</th>
                                            <!--<th>{{ u.password }}</th>-->

                                            <th>

                                                <button class="btn btn-info" ng-click="editUser(u.id)">&#9998; Show
                                                    filled
                                                    questionnaires
                                                </button>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                            </div>

                        </div>
                    </div>
                </div>
                <div id="createSurvey" class="tab-pane fade">
                    <div class="createSurvey" ng-controller="SurveysController">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-1">
                                </div>
                                <div class="bgform">
                                    <div class="col-md-10">
                                        <div>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <div class="bgform">
                                                <div class="form-group">
                                                    <h2>Create survey</h2>
                                                    <hr class="colorgraph" align="center">
                                                    <br/>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <label>Title:</label>
                                                            <input type="text" class="form-control"
                                                                   id="titleOfSurvey"
                                                                   placeholder="Title"
                                                                   ng-model="titleOfSurvey"/>
                                                        </div>

                                                        <div class="col-md-12 col-sm-12">
                                                            </br>

                                                            <button type="button" class="btn btn-warning" id="addSurvey"
                                                                    ng-click="saveSurvey()"> Add
                                                                survey
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <br/>
                                                </div>


                                                <div class="col-md-12 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6">
                                                            <hr class="colorgraph">
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <label>Question:</label>
                                                                        <input type="text" class="form-control"
                                                                               id="questionOfSurvey"
                                                                               placeholder="Question"
                                                                               ng-model="questionOfSurvey"/>

                                                                    </div>
                                                                </div>
                                                                <br/>
                                                            </div>
                                                            <button type="button" class="btn btn-warning"
                                                                    id="saveQuestion"
                                                                    ng-click="saveQuestion()">
                                                                Add
                                                                question
                                                            </button>

                                                        </div>
                                                        <div class="col-md-6 col-sm-6">
                                                            <hr class="colorgraph">
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <label>Answer:</label>
                                                                        <input type="text" class="form-control"
                                                                               id="answerOfSurvey"
                                                                               placeholder="Answer"
                                                                               ng-model="answerOfSurvey"/>

                                                                    </div>
                                                                </div>
                                                                <br/>
                                                            </div>
                                                            <button type="button" class="btn btn-warning"
                                                                    id="saveAnswer"
                                                                    ng-click="saveAnswer()">
                                                                Add
                                                                answer
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 col-sm-12">


                                                    <div class="col-md-6 col-sm-6">

                                                        </br>
                                                        <div class="panel panel-warning">
                                                            <div class="panel-heading">Added questions</div>
                                                            <div class="panel-body">
                                                                <table>
                                                                    <tbody>
                                                                    <tr ng-repeat="q in questions">
                                                                        <td>
                                                                            <input type="radio" alt=q.id
                                                                                   ng-click="selectQ(q.id)">
                                                                            {{q.question}}
                                                                            <div ng-repeat="(index,a) in q.answers">
                                                                                <li>{{q.answers[index].answer}}</li>
                                                                            </div>

                                                                        </td>
                                                                        <td><a href="" class="btn btn-danger"
                                                                               ng-click="deleteQuestion(q.id)">
                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                        </a></td>
                                                                        <td><a href="" class="btn btn-info "
                                                                               ng-click="editQuestion(q.id)">
                                                                            <span class="glyphicon glyphicon-edit"></span>
                                                                        </a></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-sm-6">
                                                        </br>
                                                        <div class="panel panel-warning">
                                                            <div class="panel-heading">Added answers</div>
                                                            <div class="panel-body">

                                                                <table class="table table-hover">
                                                                    <tbody>
                                                                    <tr ng-repeat="a in answer">

                                                                        <td><input type="checkbox"
                                                                                   ng-checked="exists(a, selected)"
                                                                                   ng-click="toggle(a, selected)"
                                                                                   alt="a.id">
                                                                            {{a.answer}}
                                                                        </td>
                                                                        <td><a href="" class="btn btn-danger"
                                                                               ng-click="deleteAnswer(a.id)">
                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                        </a></td>
                                                                        <td><a href="" class="btn btn-info "
                                                                               ng-click="editAnswer(a.id,a.answer)">
                                                                            <span class="glyphicon glyphicon-edit"></span>
                                                                        </a></td>


                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>


                                <h3>
                                    Connect the question with answers

                                </h3>
                                <div align="center">
                                    <button type="button" class="btn btn-warning" id="saveRelations"
                                            ng-click="saveRelations()">
                                        Add relations
                                    </button>
                                </div>


                            </div>
                        </div>



                    </div>
                </div>
                <div id="myAccount" class="tab-pane fade">
                    <div class="createSurvey" ng-controller="PeopleController">

                        <div class="container col-xs-8" >
                            <div class="col-md-4">
                                 <span class="fa-stack fa-4x">
                                 <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                 <i class="glyphicon glyphicon-user  fa-stack-1x fa-inverse"></i>
                                 </span>
                                <h4 class="service-heading">{{firstName}}</h4>
                                <h4 class="service-heading">{{lastName}}</h4>
                                <h4 class="service-heading">{{myemail}}</h4>
                                <h4 class="service-heading">{{}}</h4>
                                <button class="btn btn-info" ng-click="editUser(u)">&#9998; Edit my account
                                </button>



                            </div>

                            <!--<br>-->
                            <!--<br>-->

                        </div>


                    </div>

                </div>
                <div id="deleteSurvey" class="tab-pane fade">
                    <h3></h3>
                    <p></p>

                    <div class=portfolio" ng-controller="SurveysController">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2 class="section-heading">Surveys delete</h2>
                                    <h3 class="section-subheading text-muted"></h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="s in survey">
                                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                                        <div class="portfolio-hover">
                                            <div class="portfolio-hover-content">
                                                <i class="fa fa-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img src="../img/portfolio/roundicons.png" class="img-responsive"
                                             alt="{{s.id}}">
                                    </a>
                                    <div class="portfolio-caption">
                                        <h4>{{s.title}}</h4>

                                        <button class=" btn btn-primary btn-block btn btn-danger"
                                                ng-click="delete(s.id)">&#x2718; Delete
                                        </button>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div id="messageToMe" class="tab-pane fade">

                    <div class="messageToMe">

                        <div ng-controller="SendMessageController">

                            <div class="container">
                                <br/>
                                <br/>
                                <br/>
                                <h3>Message To Me</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br/>
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>email</th>
                                                <th>text</th>


                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="m in message">

                                                <td>{{ m.id }}</td>
                                                <td>{{ m.name }}</td>
                                                <th>{{ m.email }}</th>
                                                <th>{{ m.message }}</th>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">


                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <div id="analysis" class="tab-pane fade">

                    <div class="messageToMe">



                        <div ng-controller="AnalysisController">
                            <!--<form>-->


                                <input type="file" class="form-control"
                                       id="path"
                                       placeholder="path"
                                       ng-model="path"/>
                            <!--<span class="glyphicon glyphicon-edit"><input type="button" class="btn btn-info" ng-click="showRules()"/>-->
                                <!--lubiepalcki</span>-->
                                <a href="/index.html#/user/account" class="btn btn-info "
                                   ng-click="showRules()">
                                    <span class="glyphicon glyphicon-edit">Show rules</span>
                                </a>
                            <!--</form>-->

                            <textarea id="TaRules" rows="4" cols="50">
                            {{rules}}
                            </textarea>



                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>



