.kupka {
    background-color: #ff3ce1;
    color: #ffc747;
}

body {
    background-color: #db9dbe;
    background-image: url("static/views/css/register.png");
    background-position: center top;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.bg-contack {*/

/*background-image: url("../static/views/css/contact.png");*/
/*background-position: center top;*/
/*min-height: 500px;*/
/*background-attachment: fixed;*/
/*background-position: center;*/
/*background-repeat: no-repeat;*/
/*background-size: cover;*/
/*!*background-repeat: repeat;*!*/
/*color: #fff;*/
/*background-color: #1abc9c;*/
/*padding-top: 0px;*/
/*height: 1000px;*/
/*}*/
/*.register {*/
/*background-image: url("../static/views/css/signup.png");*/
/*background-position: center top;*/
/*min-height: 500px;*/
/*background-attachment: fixed;*/
/*background-position: center;*/
/*background-repeat: no-repeat;*/
/*background-size: cover;*/
/*!*background-repeat: repeat;*!*/

/*background-color: #1abc9c;*/
/*padding-top:0px;height:1000px;*/

/*}*/
/*.account {*/
/*background-image: url("../static/views/css/account.png");*/
/*background-position: center top;*/
/*min-height: 500px;*/
/*background-attachment: fixed;*/
/*background-position: center;*/
/*background-repeat: no-repeat;*/
/*background-size: cover;*/
/*!*background-repeat: repeat;*!*/
/*color: #fff;*/
/*background-color: #1abc9c;*/
/*padding-top:0px;height:1000px;*/

/*}*/

.colorgraph {
    height: 7px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}